.custom-list {
    max-width: 600px;
    margin: 0 auto;
}

.custom-list h1 {
    text-align: center;
    color: #333;
}

.custom-list ul {
    list-style-type: none; 
    padding-left: 0; 
}

.custom-list li {
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-list li:last-child {
    margin-bottom: 0; 
}